{% extends "base.html" %}

{% block title %}Referanslar - Benim Portföyüm{% endblock %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4 text-center">Referanslarım</h2>
  <div class="row">
    
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="/static/images/Ahmetcan.jpg" class="card-img-top" alt="Ali Veli">
        <div class="card-body">
          <h5 class="card-title">Ahmet Can Sönmez</h5>
          <h6 class="card-subtitle mb-2 text-muted">Yazılım Müdürü - TechSoft</h6>
          <p class="card-text">"Projelerde gösterdiği başarı ve ekip uyumu muazzamdı."</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="/static/images/ayse.jpg" class="card-img-top" alt="Ayşe Yılmaz">
        <div class="card-body">
          <h5 class="card-title">Ayşe Yılmaz</h5>
          <h6 class="card-subtitle mb-2 text-muted">Proje Yöneticisi - Bilişim A.Ş.</h6>
          <p class="card-text">"Tüm süreçlerde güvenle çalıştığımız biri oldu."</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="/static/images/Mehmetkaya.jpg" class="card-img-top" alt="Murat Kaya">
        <div class="card-body">
          <h5 class="card-title">Mehmet Kaya</h5>
          <h6 class="card-subtitle mb-2 text-muted">CTO - Kodla Bilişim</h6>
          <p class="card-text">"Teknik bilgisi ve sorumluluk bilinci gerçekten etkileyici."</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
